body {
  margin: 0;
  padding: 0;
}

form {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0 0 0;
  padding: 0;
}

.fail {
  display: none;
  color: red;
  font-weight: bold;
}
