.week-div {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.text-div {
  display: flex;
  width: 60%;
  height: 80%;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-right: 3rem;
}
